/** Para comenzar, diseño la estructura de la pagina web
*/
body {
    
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(26, 60, 170);
    width: 65%;
    height: 65%;
    background: url(Fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    
}
/** Centro el Logo
*/
.Logo{
  text-align: center;
}
/** En esta parte yo anclo los limites de las barras de texto
*/
  .contenedor{
    width: 100%;
    padding: 15px;
  }
  
  /** En esta parte yo diseño el formulario, pongo límites y diseño
*/
  .formulario{
    
    background-color: rgb(236, 236, 236);
    padding: 5px 3px;
    margin: auto;
    width: 600px;
    margin-top: 50px;
    border-radius: 4%;
  }
  
  
  /** Texto "Programacion Orientada a Objetos 2"
*/
  h1{
    font-size: 20px;
    text-align: center;
    color: #181a1d;
  }
  /** Texto "Bienvenido!"
*/
  h2{
    font-size: 30px;
    text-align: center;
    color: #181a1d;
  }
  /** Texto "Registrate"
*/
  h3{
    font-size: 25px;
    text-align: center;
    color: #181a1d;
  }

  /** Aquí agrego dos imputs, para diseñar la barra del texto y la de la contraseña
*/
  input[type="text"],
  input[type="password"]{
    font-size: 20px;
    width: 80%;
    padding: 10px;
    border: none;
  }
  
  /** Aquí le doy mas retoques a la estructura de las barras de texto y de la contraseña 
*/
  .input-contenedor{

    margin-bottom: 20px;
    width: 95%;
    width: center;
    border: 1px solid rgb(3, 74, 182);
    border-radius: 5px;
  }
  
  /** La función de este código es personalizar la clase de los íconos
*/
  .icono{
    min-width: 50px;
    text-align: center;
    color: rgb(226, 13, 180);
  }

  /** Y acá le doy diseño al botón de "Regístrate"
*/

  .button{
    border: none;
    width: 95%;
    margin: center;
    color: white;
    font-size: 20px;
    background: #181a1d;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  /** Le doy algo de animación al botón "Registrate"
*/

  .button:hover{
    background: rgb(67, 147, 238);
  }
  /** Diseño los párrafos 
*/
  p{
    text-align: center;
  }
  /** Diseño al link "Iniciar Sesión"
*/
  .link{
    text-decoration: none;
    color: #181a1d;
    font-weight: 600;
  }
  .link:hover{
    color: rgb(67, 147, 238);
  }
  @media(min-widht:768px){
    .formulario{
      margin: auto;
      width: 500px;
      margin-top: 150px;
      border-radius: 2%;
    }
  }